// abstracts/_variables.scss
$font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;

$color-primary: #646cff;
$color-primary-hover: #535bf2;
$color-bg-dark: #242424;
$color-bg-light: #ffffff;
$color-text-dark: rgba(255, 255, 255, 0.87);
$color-text-light: #213547;